<div class="panel">
    <div class="panel-content">
        <h1 class="header-content panel-header">
            {{!!panelName? panelName : 'Configure Panel'}}
            <span class="control-panel-button">
                <button class="button button-primary" (click)="handleConfigureClick()">{{configureButtonText}}</button>
                <ng-container *ngIf="!!panelName">
                    <button class="button button-gray" (click)="handleAllClick()">All Panels </button>
                    <button class="button button-secondary" (click)="handleHomeClick()">Home</button>
                </ng-container>
            </span>
        </h1>
        <div class="header-bar"></div>

        <div class="">
            <div class="">
                <div>
                    <mat-grid-list cols="3" rowHeight="2:1" class="grid-list">
                        <ng-container *ngFor="let i of GRID_ARRAY">
                            <mat-grid-tile class="grid-tile" [class.grid-tile-initialized]="showCellInfo(i)">
                                <span *ngIf="showCellInfo(i)" (click)="handleCellClick(i)" class="grid-tile-content">
                                    {{getComponentInfoByPosition(i)}}
                                </span>
                            </mat-grid-tile>
                            <ng-template #defaultTemplate>
                                <mat-grid-tile class="grid-tile">{{i}}</mat-grid-tile>
                            </ng-template>
                        </ng-container>
                    </mat-grid-list>
                </div>

            </div>
        </div>
        <!-- saved panels -->
        <div class="panel-list-side " *ngIf="!panelName">
            <div class="side-panel-content">
                <section class="side-panel-section">
                    <div class="panle-list">
                        <app-list [showRecentPanels]="true"></app-list>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>