mat-grid-tile {
    background: var(--secondary);
}

.sidebar-image{
        display: none;
      background-image: url('../../assets/icons/svg/undraw_control_panel_re_y3ar.svg');
      background-repeat: no-repeat;
      background-size: cover;
}

.grid{
    margin-top: 10px;
    margin-left: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

.grid-panel{
    display: grid;
    grid-column: span 2 / span 2;
    gap: 10px
}

.grid-list{
    width: 60%;
    padding-bottom: 0px !important
}

.grid-tile{
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: transparent;
        transition: 0.5s;

}

.grid-tile-content {
    cursor: pointer;

}

.grid-tile-content:hover {
   text-decoration: underline var(--primary);
}

.grid-tile-initialized{
   
    background:var(--primaryLight)
   
}

.grid-tile-initialized:hover{
    color:white;
}

.control-panel-button{
    float: right;
    margin-right: 50px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}


.control-panel{
   margin-top: 32px;
    display: grid;
    /* flex: 1 1 0%; */
    /* min-height: 100vh; */
    /* flex-direction: column;
    justify-content: space-between; */
     /* padding-top:  32px;
    padding-bottom: 32px; */
}

.panel{
    padding: 1rem/* 16px */;
    @media (min-width: 980px) {
        .mdl\:p-6 {
            padding: 1.5rem/* 24px */;
        }
    }
    @media (min-width: 1380px) {
        .xlm\:p-8 {
            padding: 2rem/* 32px */;
        }
    }
    margin-left: auto;
    margin-right: auto;

}

.panel-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
}

.panel-list-side{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
     overflow: hidden;
      /* z-index: 50; */
      width: 30vw;
        left: auto;
}

.side-panel-content{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
     overflow: hidden;
}

.side-panel-section{
    max-width: 100%;
    display: flex;
      top: 0px;
    bottom: 0px;
    position:absolute;
    right: 0px;
    background: rgba(128, 128, 128, 0.1);
    width: 100%;
}

.panle-list{
    width: 100%;
}

.panel-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panel-close-button{
    float: right;
    height: 25px;
    color: var(--primary);
}