<div class="dialog-header">
  <h2 class="dialog-header-content">{{title}}</h2>
</div>
<div class="dialog-body">
  <ng-container *ngIf="parameter">
  <ng-container *ngIf="isDisplayValueType; else updateParameterTemplate">
    <ng-container [ngTemplateOutlet]="displayParameterTemplate"></ng-container>

  </ng-container>
  </ng-container>
</div>
<div class="dialog-footer">
  <button (click)="handleCancel()" class="button button-gray">Cancel</button>
  <button *ngIf="!isDisplayValueType" (click)="handleSave()" class="button button-primary">Save</button>
</div>

<ng-template #displayParameterTemplate>
  <div class="parameter-display-content">
    {{parameter.name}} = {{parameter.value}}
  </div>
</ng-template>


<ng-template #updateParameterTemplate>
  <div class="parameter-update">

    <input [readOnly]="isIncrementDecrementType" required class="input" #parameterInput="ngModel" type="number" [(ngModel)]="parameter.value"
      min="-100" max="100" [pattern]="ONLY_INTEGER_REGEX" />
    <span *ngIf="isIncrementDecrementType" class="parameter-action">
      <button [matTooltip]="HELP_TEXT.INCREMENT_PARAMETER_TOOLTIP" (click)="handleIncrementDecrement('increment')"
        class="button-svg">
        <mat-icon inline="true" svgIcon="icon-plus"></mat-icon>
      </button>
      <button [matTooltip]="HELP_TEXT.DECREMENT_PARAMETER_TOOLTIP" (click)="handleIncrementDecrement('decrement')"
        class="button-svg">
        <mat-icon inline="true" svgIcon="icon-minus"></mat-icon>
      </button>
    </span>
  </div>
  <p class="input-error" *ngIf="parameterInput?.touched && parameterInput?.invalid ">
    {{getErrorText(parameterInput.errors)}}
  </p>
</ng-template>